# loc
**label-based indexing**. It is used to select rows or columns from a DataFrame using labels or boolean arrays based on the index and column names. The syntax for using loc is df.loc[[row_label(s)], [column_label(s)]]. Here, row_label(s) can be a single label, a list of labels, or a boolean array, and column_label(s) can be a single label, a list of labels, or a boolean array.

In [3]:
import pandas as pd

In [4]:
data = {'Name': ['John', 'Emma', 'Peter', 'Lisa'],
        'Age': [25, 28, 31, 29],
        'City': ['New York', 'London', 'Paris', 'Tokyo']}

In [7]:
data

{'Name': ['John', 'Emma', 'Peter', 'Lisa'],
 'Age': [25, 28, 31, 29],
 'City': ['New York', 'London', 'Paris', 'Tokyo']}

In [5]:
df = pd.DataFrame(data)

In [6]:
df

    Name  Age      City
0   John   25  New York
1   Emma   28    London
2  Peter   31     Paris
3   Lisa   29     Tokyo

In [15]:
# Selecting a single row by label
row = df.loc[1]  # Selects the row with label 1 (Emma)
row

Name      Emma
Age         28
City    London
Name: 1, dtype: object

In [14]:
# Selecting multiple rows by labels
rows = df.loc[[0, 2]]  # Selects the rows with labels 0 and 2 (John and Peter)
rows

    Name  Age      City
0   John   25  New York
2  Peter   31     Paris

In [13]:
# Selecting rows and columns by labels
subset = df.loc[[0, 2], ['Name', 'Age']]  # Selects the 'Name' and 'Age' columns for rows with labels 0 and 2
subset

    Name  Age
0   John   25
2  Peter   31

# iloc 
**integer-based indexing**. It is used to select rows or columns from a DataFrame using integer indices, similar to how indexing works in Python lists. The syntax for using iloc is df.iloc[row_index(s), column_index(s)]. Here, row_index(s) can be a single integer, a list of integers, or a boolean array, and column_index(s) can be a single integer, a list of integers, or a boolean array.

In [16]:
# Selecting a single row by index
row1 = df.iloc[1]  # Selects the row at index 1 (Emma)
row1

Name      Emma
Age         28
City    London
Name: 1, dtype: object

In [17]:
# Selecting multiple rows by indices
rows1 = df.iloc[[0, 2]]  # Selects the rows at indices 0 and 2 (John and Peter)
rows1

    Name  Age      City
0   John   25  New York
2  Peter   31     Paris

In [18]:
# Selecting rows and columns by indices
subset1 = df.iloc[[0, 2], [0, 1]]  # Selects the first and second columns for the rows at indices 0 and 2
subset1

    Name  Age
0   John   25
2  Peter   31

It's important to note that loc is inclusive of the endpoints, iloc is exclusive of the end point For example, df.loc[0:2] will select rows with labels 0, 1, and 2, while df.iloc[0:2] will select rows at indices 0 and 1.

In [20]:
df.loc[0:2]

    Name  Age      City
0   John   25  New York
1   Emma   28    London
2  Peter   31     Paris

In [19]:
df.iloc[0:2]

   Name  Age      City
0  John   25  New York
1  Emma   28    London